.divider {
  &_container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &_border {
    border-bottom: 1px solid #F1F1F1;
    width: 100%;
  }

  &_content {
    padding: 0 10px 0 10px;
  }
}