.formik-input_container {
  width: 338px;
  margin-bottom: 10px;
}

.formik-input {
  width: 302px;
  border: 1px solid #F1F1F1;
  border-radius: 6px;
  padding: 15px 18px;
}

.formik-input_error-message {
  font-size: 13px;
  color: #FF282F;
  text-align: center;
}