.formik-input {
  width: 302px;
  border: 1px solid #F1F1F1;
  border-radius: 6px;
  padding: 15px 18px;
  font-family: "Lato", sans-serif;

  &:focus {
    outline: none !important;
    border-color: #009E7F;
  }

  &_container {
    width: 338px;
    margin-bottom: 10px;
  }

  &_error-message {
    font-size: 13px;
    color: #FF282F;
    text-align: center;
  }
}

.input-error {
  &:focus {
    outline: none !important;
    border-color: #FF282F;
  }
}